<div class="container">
<h1>
  {{title}}
</h1>
<h4>List of Roles (click Roles like Admin,Supervisor,Member,Super admin..)</h4>  
  <div class="container-fluid">
  <div class="row">
  <div class="col head"><span>Roles</span></div>
  </div>
  <div *ngFor="let em of roleList">
  <div class="row">
  <div class="col" myHighlight><span><a routerLink="/info/{{em.role}}">{{em.role}}</a></span></div>
  </div>
  </div>
  </div>
  <br>
  <div class="container-fluid output">
  <router-outlet></router-outlet>
  </div>
</div>