<div class="container">
<h4>List of Employees of type {{roles}}</h4>
  <div class="container-fluid">
  <div class="row">
  <div class="col head"><span>Name</span></div>
  <div class="col head"><span>Role</span></div>
  <div class="col head"><span>Company name</span></div>
  </div>
  <div *ngFor="let em of empList">
  <div *ngIf="em.role==roles">
  <div class="row">
  <div class="col"><span >{{em.name}}</span></div>
  <div class="col" myHighlight><span>{{em.role}}</span></div>
  <div class="col"><span>{{em.companyName}}</span></div>
  </div>
  </div>
  </div>
  </div>
  <div class="container-fluid output">
  <router-outlet></router-outlet>
  </div>
  

</div>